$primary:#C2185B;
$primaryvar:#AD1457;
$secondary:#F06292;
$secondaryvar:#EC407A;
$bg:#FCE4EC;
$surface:#ffffff;
$error:#b00020;

$onprimary:#ffffff;
$onsecondary:#000000;
$onbg:#000000;
$onsurface:#000000;
$onerror:#ffffff;
